* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: rgb(106, 218, 255);
    width: 100vw;
    height: 200px;
}

.header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pokedex-section {
    width: 100vw;
    height: auto;
    margin: 30px;
}
.searchbar-container input {
    height: 35px;
    width: 300px;
    border-radius: 15px;
    background: none;
    padding: 10px;
}

.pokemon-logo {
    max-width: 300px;
    max-height: 200px;
}
.pokemon-title {
    margin: 20px 30px 50px 30px;
}

.pokemon-List {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}

.button-class {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    background-color: #0085eb;
    font-weight: 700;
    color: white
}