* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: rgb(106, 218, 255);
    width: 100vw;
    height: 200px;
}

.header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pokedex-section {
    width: 100vw;
    height: auto;
    margin: 30px;
}
.searchbar-container input {
    height: 35px;
    width: 300px;
    border-radius: 15px;
    background: none;
    padding: 10px;
}

.pokemon-logo {
    max-width: 300px;
    max-height: 200px;
}
.pokemon-title {
    margin: 20px 30px 50px 30px;
}

.pokemon-List {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}

.button-class {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    background-color: #258ae8;
    color: white
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
    border-radius: 20px;
}
  
.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}
  
.modal h1 {
    margin-top: 0;
}
  
.modal p {
    margin-bottom: 0;
}
.modal img {
    margin: 0 auto;
}